.ulContainer {
    font-family: Hartwell;
    display: flex;
    gap: 56px;

}

.navlistitem {
    list-style: none;
    font-size: 24px;
    color: #181E4B;
    /* border: solid red; */
}



.active {
    font-weight: 700;
}

.ulimgContainer {
    /* border: solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* 👆yazıları img yı bıraz daha ortaladık  */
    padding-top: 53px;
    font-family: 'Hartwell';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.6rem;
    letter-spacing: 0.04em;
    color: #181E4B;
}


.navbarContainer {
    background: rgba(218, 218, 253, 0.5);
    color: #DADAFD;
    height: 420px;
    padding: 0 80px;

}

.h2pContainer {
    /* border: solid red; */
    /* 👇news ve text imizi üstten boşluk bıraktırdık */
    margin-top: 77px;

}

.h2title {

    margin: 0;
    font-family: 'Hartwell';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 74px;
    display: flex;
    align-items: center;
    color: #181E4B;
}



.ptext {
    font-family: 'Hartwell';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.04em;
    color: #181E4B;
    /* padding: 8px; */

}

@media only screen and (max-width: 600px) {


    .h2pContainer {

        margin-bottom: 1.5rem;
    }
}